li { 
	list-style-type: none;
}

li:before { 
	content: "—"
}

header {
	color: green;
  	text-align: center;
}

.column {
	column-count: 2;
}

.footer {
	text-align: right;
}

.tel-center {
	text-align: center;
}
		
.letter { 
	font-size: 2em; 
	color: orange;
	float: left;
}

.please-right {
	margin-left: 900px;  
}