*{
	font-family: 'Playfair Display', serif;
}

li { 
	list-style-type: none;
}

li:before { 
	content: "—"
}

header {
	color: green;
  	text-align: center;
  	font-family: 'Merriweather', serif;
}

.column {
	column-count: 2;
}

.footer {
	text-align: right;
}

.tel-center {
	text-align: center;
}
		
.letter { 
	font-size: 1.9em; 
	color: orange;
	float: left;
}

.please-right {
	margin-left: 900px;  
}